html {
  font-size: 10px;
  background-color: #eee;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  /* border: 0.2rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black; */

  /* Inspiration https://codepen.io/rizkykurniawanritonga/pen/wospJ */
  background-color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 8rem;
  color: #666;
  cursor: pointer;
  box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(169, 169, 169, 1);
  transition: all 0.07s ease;
}

.playing {
  margin-bottom: 1px;
  box-shadow: 0 0 1rem #eee;
  background-color: #eee;
  /* transform: scale(1.05); */
  /* border-color: #666; */
}

kbd {
  display: block;
  font-size: 4rem;
  color: #c5c5c5;
  /* color: #666; */
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
